body {
    padding-bottom: 30px;
}
h1,
h2,
p {
    font-family: sans-serif;
    text-align: center;
}
.leaflet-container {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    position: absolute;
}
.leaflet-bottom {
    width: 100%;
    background-color: #160c28;
}
.leaflet-top {
    width: 100%;
    background-color:#160c28;
}
.leaflet-control{
    width: 100%;
    margin-left: 0px !important;
    margin-top: 0px !important;
}
.input-field{
    width: 100%;
    padding-left: '0px';
    scroll-padding-right: '0px';
}
.rc-time-picker-panel-input{
    text-align: center !important;
}
.rc-time-picker-input{
    text-align: center !important;
}
.rc-time-picker{
    width: 130px;
}
.leaflet-popup-close-button{
    color: #160c28 !important;
}
.leaflet-popup-tip{
    background: #160c28;
}
.leaflet-popup-content-wrapper{
    background: white;
}
.row .input-field input:focus {
    border-bottom: 1px solid #efcb68 !important;
    box-shadow: 0 1px 0 0 #efcb68 !important
}
.input-field input:focus + label {
    color: #160c28 !important;
}
.dropdown-content li>span {
    color: #160c28;
}